---
layout: layout.njk
eleventyNavigation:

---
<script>
  document.addEventListener('DOMContentLoaded', () => {
  
  

  
  // Array of the weather_data.js cities
  let currentCity= ["berlin", "amsterdam", "copenhagen", "cork", "new_york", "paris", "san_francisco", "tromso", "waterford"];

    // Creating an array for the city names and cards city focus URLs
    
  
  // Iterating the cities with forEach loop
  const main = document.querySelector('main');
  currentCity.forEach((city, index) => {
  
  currentCity = city;
  const currentCityData = weatherData[currentCity + "_daily"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons changin based upon the weather code
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }

  const cityNames = [
      {
        name: "Berlin",
        cityFocusURL: "/city-focus/?city=berlin",
            
        },
      {
        name: "Amsterdam",
        cityFocusURL: "/city-focus/?city=amsterdam",
      },
      {
        currentCity: "copenhagen",
        name: "Copenhagen",
        cityFocusURL: "/city-focus/?city=copenhagen",
      },
      {
        currentCity: "cork",
        name: "Cork",
        cityFocusURL: "/city-focus/?city=cork",
      },
      {
        name: "New York",
        cityFocusURL: "/city-focus/?city=new_york",
  
      },
      {
        name: "Paris",
        cityFocusURL: "/city-focus/?city=paris",
      },
      {
        name: "San Francisco",
        cityFocusURL: "/city-focus/?city=san_francisco",
      },
      {
        name: "Tromso",
        cityFocusURL: "/city-focus/?city=tromso",
      },
      {
        name: "Waterford",
        cityFocusURL: "/city-focus/?city=waterford",
      },
    ];
  
     cityNames.forEach((cityName, index) => {
  
  const element = `
 
      
      <section class="column is-4 p-4">
      <a href="$cityNames.cityFocusUrl">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered has-text-white">
               ${cityNames.name}
            </p>
          </header>
<div class="card-image">
            <figure class="image is-64x64 m-auto">
              <img src="${currentCity.iconDailyToday}" alt="">
            </figure>
          </div>
          <div class="columns">
            <div class="column is-6">
              <article class="card-content">
                <p  class="content is-size-5 has-text-white has-text-centered">
                  ${currentCity.city}
              </article>
            </div>
            <div class="column is-6">
              <article class="card-content">
                <p  class="content is-size-5 has-text-white has-text-centered">
                   ${currentCity.city} 
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>`
main.innerHTML = main.innerHTML + element;

  /* Creating variables to set the ids and assigning values to them via src and innerHTML
  const dashboardCardImage = document.querySelector(`#cityfocus-${index + 1}-image`);
  dashboardCardImage.src = iconDailyToday;
  
  const dashboardCardTemp = document.querySelector(`#cityfocus-${index + 1}-temp`);
  dashboardCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br>  ${currentCityData.daily.temperature_2m_max[indexOfToday]} °C` ;
  
  const dashboardCardWind = document.querySelector(`#cityfocus-${index + 1}-wind`);
  dashboardCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br>  ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; */
    });
  });
  }); 
</script>
<section class="columns has-background-primary-light">
  <section class="column is-3">
    <figure class="image is-256x256">
      <img src="/images/logo.png">
    </figure>
  </section>
  <section class="column is-5">
    <div class="has-text-centered pt-6 ">
      <p class="title has-text-weight-bold">Dashboard
      </p>
      <p id="time" class="subtitle has-text-weight-bold">
        <span id="weatherCode"></span>
      </p>
    </div>
  </section>
  <section class="column is-4"></section>
</section>
<article class="content">
  <section class="columns mt-6"></section>
  <div class="container">
  <main class="columns mx-6 mb-6">
    
    </main>
  </div>
</article>
<div class="container mb-6">
</div>
