---
layout: layout.njk
eleventyNavigation:

---
<script>
  document.addEventListener('DOMContentLoaded', () => {
  
  // Berlin card
  const currentCity = "berlin";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
  
  // Berlin Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleBerlin = document.querySelector('#cityfocus-1-berlin-heading');
  dashboardCardTitleBerlin.innerHTML = 'Berlin';
  
  const dashboardBerlinCardImage = document.querySelector('#cityfocus-1-berlin-card-image');
  dashboardBerlinCardImage.src = iconDailyToday;
  
  const dashboardBerlinCardTemp = document.querySelector('#cityfocus-1-berlin-card-temp');
  dashboardBerlinCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br>  ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardBerlinCardWind = document.querySelector('#cityfocus-1-berlin-card-wind');
  dashboardBerlinCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br>  ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 
  
  });
  
  
  document.addEventListener('DOMContentLoaded', () => {
  
  // Amsterdam Card
  const currentCity = "amsterdam";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
  
  
  // Amsterdam Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleAmsterdam = document.querySelector('#cityfocus-1-amsterdam-heading');
  dashboardCardTitleAmsterdam.innerHTML = 'Amsterdam';
  
  const dashboardAmsterdamCardImage = document.querySelector('#cityfocus-1-amsterdam-card-image');
  dashboardAmsterdamCardImage.src = iconDailyToday;
  
  const dashboardAmsterdamCardTemp = document.querySelector('#cityfocus-1-amsterdam-card-temp');
  dashboardAmsterdamCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br>  ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardAmsterdamCardWind = document.querySelector('#cityfocus-1-amsterdam-card-wind');
  dashboardAmsterdamCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br>  ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 
  
  });
  
  document.addEventListener('DOMContentLoaded', () => {
  
  // Copenhagen Card
  const currentCity = "copenhagen";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
  
  
  // Copenaghen Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleCopenhagen = document.querySelector('#cityfocus-1-copenhagen-heading');
  dashboardCardTitleCopenhagen.innerHTML = 'Copenhagen';
  
  const dashboardCopenhagenCardImage = document.querySelector('#cityfocus-1-copenhagen-card-image');
  dashboardCopenhagenCardImage.src = iconDailyToday;
  
  const dashboardCopenhagenCardTemp = document.querySelector('#cityfocus-1-copenhagen-card-temp');
  dashboardCopenhagenCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br> ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardCopenhagenCardWind = document.querySelector('#cityfocus-1-copenhagen-card-wind');
  dashboardCopenhagenCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br>  ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 
  
  });
  
  document.addEventListener('DOMContentLoaded', () => {
  
   // Cork Card
  const currentCity = "cork";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
  
  
  // Cork Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleCork = document.querySelector('#cityfocus-1-cork-heading');
  dashboardCardTitleCork.innerHTML = 'Cork';
  
  const dashboardCorkCardImage = document.querySelector('#cityfocus-1-cork-card-image');
  dashboardCorkCardImage.src = iconDailyToday;
  
  const dashboardCorkCardTemp = document.querySelector('#cityfocus-1-cork-card-temp');
  dashboardCorkCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br>  ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardCorkCardWind = document.querySelector('#cityfocus-1-cork-card-wind');
  dashboardCorkCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br>  ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 
  
  });
  
  document.addEventListener('DOMContentLoaded', () => {
  
   // New York Card
  const currentCity = "new_york";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
  
  
  // New York Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleNewYork = document.querySelector('#cityfocus-1-new-york-heading');
  dashboardCardTitleNewYork.innerHTML = 'New York';
  
  const dashboardNewYorkCardImage = document.querySelector('#cityfocus-1-new-york-card-image');
  dashboardNewYorkCardImage.src = iconDailyToday;
  
  const dashboardNewYorkCardTemp = document.querySelector('#cityfocus-1-new-york-card-temp');
  dashboardNewYorkCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br>  ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardNewYorkCardWind = document.querySelector('#cityfocus-1-new-york-card-wind');
  dashboardNewYorkCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br>  ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 
  
  });
  
  document.addEventListener('DOMContentLoaded', () => {
  
   // Paris Card
  const currentCity = "paris";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
   
  
  // Paris Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleParis = document.querySelector('#cityfocus-1-paris-heading');
  dashboardCardTitleParis.innerHTML = 'Paris';
  
  const dashboardParisCardImage = document.querySelector('#cityfocus-1-paris-card-image');
  dashboardParisCardImage.src = iconDailyToday;
  
  const dashboardParisCardTemp = document.querySelector('#cityfocus-1-paris-card-temp');
  dashboardParisCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br>  ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardParisCardWind = document.querySelector('#cityfocus-1-paris-card-wind');
  dashboardParisCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br>  ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 
  
  });

  
  document.addEventListener('DOMContentLoaded', () => {
  
   // San Francisco Card
  const currentCity = "san_francisco";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
   
  
  // San Francisco Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleSanFran = document.querySelector('#cityfocus-1-san-francisco-heading');
  dashboardCardTitleSanFran.innerHTML = 'San Francisco';
  
  const dashboardSanFranCardImage = document.querySelector('#cityfocus-1-san-francisco-card-image');
  dashboardSanFranCardImage.src = iconDailyToday;
  
  const dashboardSanFranCardTemp = document.querySelector('#cityfocus-1-san-francisco-card-temp');
  dashboardSanFranCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br> ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardSanFranCardWind = document.querySelector('#cityfocus-1-san-francisco-card-wind');
  dashboardSanFranCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br> ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 
  
  
  });

  document.addEventListener('DOMContentLoaded', () => {
  
   // Tromso Card
  const currentCity = "tromso";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
   
  
  // Tromso Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleTromso = document.querySelector('#cityfocus-1-tromso-heading');
  dashboardCardTitleTromso.innerHTML = 'Tromso';
  
  const dashboardTromsoCardImage = document.querySelector('#cityfocus-1-tromso-card-image');
  dashboardTromsoCardImage.src = iconDailyToday;
  
  const dashboardTromsoCardTemp = document.querySelector('#cityfocus-1-tromso-card-temp');
  dashboardTromsoCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br>  ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardTromsoCardWind = document.querySelector('#cityfocus-1-tromso-card-wind');
  dashboardTromsoCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br> ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 

});

document.addEventListener('DOMContentLoaded', () => {
  
   // Waterford Card
  const currentCity = "waterford";
  const currentCityData = weatherData[currentCity + "_daily"]
  const currentCityDataHourly = weatherData[currentCity + "_hourly"]
  const indexOfToday = currentCityData.daily.time.indexOf(`Today`); 
  const temperature_2m_max = document.getElementById("temperature_2m_max");
  const wind_speed_10m_max = document.getElementById("wind_speed_10m_max");
  const time = document.getElementById("time");
  const weatherCode = document.getElementById("weatherCode");
  
  // Icons
  let iconDailyToday = "unknown";
  
  if (currentCityData.daily.weather_code[indexOfToday] === 0) {
  iconDailyToday = '/images/sun.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 1) && (currentCityData.daily.weather_code[indexOfToday] <=3)) {
  iconDailyToday = '/images/cloudy.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 45) && (currentCityData.daily.weather_code[indexOfToday] <=48)) {
  iconDailyToday = '/images/fog.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 51) && (currentCityData.daily.weather_code[indexOfToday] <=67)) {
  iconDailyToday = '/images/rain.png';
  } else if ((currentCityData.daily.weather_code[indexOfToday] >= 80) && (currentCityData.daily.weather_code[indexOfToday] <=82)) {
  iconDailyToday = '/images/rain.png';
  }  else if ((currentCityData.daily.weather_code[indexOfToday] >= 71) && (currentCityData.daily.weather_code[indexOfToday] <=75)) {
  iconDailyToday = '/images/snow.png';
  } else if (currentCityData.daily.weather_code[indexOfToday] === 95){
  iconDailyToday = '/images/storm.png';
  } else {
  iconDailyToday = '/images/sun.png';
  }
   
  
  // Waterford Card 'Max Temp' and 'Wind Speed'
  
  const dashboardCardTitleWaterford = document.querySelector('#cityfocus-1-waterford-heading');
  dashboardCardTitleWaterford.innerHTML = 'Waterford';
  
  const dashboardWaterfordCardImage = document.querySelector('#cityfocus-1-waterford-card-image');
  dashboardWaterfordCardImage.src = iconDailyToday;
  
  const dashboardWaterfordCardTemp = document.querySelector('#cityfocus-1-waterford-card-temp');
  dashboardWaterfordCardTemp.innerHTML = `<span class="is-size-6">Max Temp</span><br>  ${currentCityData.daily.temperature_2m_max[indexOfToday]}  °C` ;
  
  const dashboardWaterfordCardWind = document.querySelector('#cityfocus-1-waterford-card-wind');
  dashboardWaterfordCardWind.innerHTML = `<span class="is-size-6">Max Wind</span><br> ${currentCityData.daily.wind_speed_10m_max[indexOfToday]} km/h`; 

});

</script>
<main class="columns has-background-primary-light">
  <section class="column is-3">
    <figure class="image is-256x256">
      <img src="/images/logo.png">
    </figure>
  </section>
  <section class="column is-5">
    <div class="has-text-centered pt-6 ">
      <p class="title has-text-weight-bold">Dashboard
      </p>
      <p id="time" class="subtitle has-text-weight-bold">
        <span id="weatherCode"></span>
      </p>
    </div>
  </section>
  <section class="column is-4"></section>
</main>
<article class="content">
  <main class="columns mt-6"></main>
  <div class="container">
  <main class="columns mx-6 mb-6">
    <section class="column is-4 p-4">
      <a href="/city-focus/?city=berlin">
        <section class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-berlin-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-64x64 m-auto">
              <img id="cityfocus-1-berlin-card-image" alt="">
            </figure>
          </div>
          <div class="columns">
            <div class="column is-6">
              <article class="card-content">
                <p id="cityfocus-1-berlin-card-temp" class="content is-size-5 has-text-white has-text-centered">
                </p>
              </article>
            </div>
            <div class="column is-6">
              <article class="card-content">
                <p id="cityfocus-1-berlin-card-wind" class="content is-size-5 has-text-white has-text-centered">
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-4 p-4">
      <a href="/city-focus/?city=amsterdam">
        <section class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-amsterdam-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-64x64 m-auto">
              <img id="cityfocus-1-amsterdam-card-image" alt="Sun" class="">
            </figure>
          </div>
          <div class="columns">
            <div class="column is-6">
              <article class="card-content">
                <p id="cityfocus-1-amsterdam-card-temp" class="content is-size-5 has-text-white has-text-centered">
                </p>
              </article>
            </div>
            <div class="column is-6">
              <article class="card-content">
                <p id="cityfocus-1-amsterdam-card-wind" class="content is-size-5 has-text-white has-text-centered">
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-4 p-4">
      <a href="/city-focus/?city=copenhagen">
        <section class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-copenhagen-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-64x64 m-auto">
              <img id="cityfocus-1-copenhagen-card-image" alt="Sun" class="">
            </figure>
          </div>
          <div class="columns">
            <div class="column is-6">
              <article class="card-content">
                <p  class="content is-size-5 has-text-white has-text-centered">
                  <span id="cityfocus-1-copenhagen-card-temp"></span>
                </p>
              </article>
            </div>
            <div class="column is-6">
              <article class="card-content">
                <p id="cityfocus-1-copenhagen-card-wind" class="content is-size-5 has-text-white has-text-centered">
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
  </main>
  <div class="container">
    <main class="columns mx-6 mb-6">
      <section class="column is-4 p-4">
        <a href="/city-focus/?city=cork">
          <section class="card has-text-centered has-background-black">
            <header class="card-header">
              <p id="cityfocus-1-cork-heading" class="card-header-title is-size-4 is-centered has-text-white">
              </p>
            </header>
            <div class="card-image">
              <figure class="image is-64x64 m-auto">
                <img id="cityfocus-1-cork-card-image" alt="Sun" class="">
              </figure>
            </div>
            <div class="columns">
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-cork-card-temp" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-cork-card-wind" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
            </div>
          </section>
        </a>
      </section>
      <section class="column is-4 p-4">
        <a href="/city-focus/?city=new_york">
          <section class="card has-text-centered has-background-black">
            <header class="card-header">
              <p id="cityfocus-1-new-york-heading" class="card-header-title is-size-4 is-centered has-text-white">
              </p>
            </header>
            <div class="card-image">
              <figure class="image is-64x64 m-auto">
                <img id="cityfocus-1-new-york-card-image" alt="Sun" class="">
              </figure>
            </div>
            <div class="columns">
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-new-york-card-temp" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-new-york-card-wind" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
            </div>
          </section>
        </a>
      </section>
      <section class="column is-4 p-4">
        <a href="/city-focus/?city=paris">
          <section class="card has-text-centered has-background-black">
            <header class="card-header">
              <p id="cityfocus-1-paris-heading" class="card-header-title is-size-4 is-centered has-text-white">
              </p>
            </header>
            <div class="card-image">
              <figure class="image is-64x64 m-auto">
                <img id="cityfocus-1-paris-card-image" alt="Sun" class="">
              </figure>
            </div>
            <div class="columns">
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-paris-card-temp" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-paris-card-wind" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
            </div>
          </section>
        </a>
      </section>
    </main>
  </div>
<div class="container">
    <main class="columns mx-6 mb-6">
      <section class="column is-4 p-4">
        <a href="/city-focus/?city=san_francisco">
          <section class="card has-text-centered has-background-black">
            <header class="card-header">
              <p id="cityfocus-1-san-francisco-heading" class="card-header-title is-size-4 is-centered has-text-white">
              </p>
            </header>
            <div class="card-image">
              <figure class="image is-64x64 m-auto">
                <img id="cityfocus-1-san-francisco-card-image" alt="Sun" class="">
              </figure>
            </div>
            <div class="columns">
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-san-francisco-card-temp" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-san-francisco-card-wind" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
            </div>
          </section>
        </a>
      </section>

      <section class="column is-4 p-4">
        <a href="/city-focus/?city=tromso">
          <section class="card has-text-centered has-background-black">
            <header class="card-header">
              <p id="cityfocus-1-tromso-heading" class="card-header-title is-size-4 is-centered has-text-white">
              </p>
            </header>
            <div class="card-image">
              <figure class="image is-64x64 m-auto">
                <img id="cityfocus-1-tromso-card-image" alt="Sun" class="">
              </figure>
            </div>
            <div class="columns">
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-tromso-card-temp" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-tromso-card-wind" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
            </div>
          </section>
        </a>
      </section>

      <section class="column is-4 p-4">
        <a href="/city-focus/?city=waterford">
          <section class="card has-text-centered has-background-black">
            <header class="card-header">
              <p id="cityfocus-1-waterford-heading" class="card-header-title is-size-4 is-centered has-text-white">
              </p>
            </header>
            <div class="card-image">
              <figure class="image is-64x64 m-auto">
                <img id="cityfocus-1-waterford-card-image" alt="Sun" class="">
              </figure>
            </div>
            <div class="columns">
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-waterford-card-temp" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
              <div class="column is-6">
                <article class="card-content">
                  <p id="cityfocus-1-waterford-card-wind" class="content is-size-5 has-text-white has-text-centered">
                  </p>
                </article>
              </div>
            </div>
          </section>
        </a>
      </section>



    </main>
  </div>
</article>
<div class="container mb-6"></div>
