<div class="container">
    <div class="columns">
      <div class="column is-full">
        <section class="card has-background-primary-light m-6 p-6">
          <p class="is-size-5 has-text-centered">
            Are you traveling or you just would like to check the weather forecasts for other cities?<br>Go back to the <a href="/"><strong>(Whether) Weather Dashboard</strong></a> !
          </p>
        </section>
      </div>
    </div>
  </div>