<footer class="footer  has-background-dark mt-6">
  <div class="columns content is-medium has-text-white px-6">
    <section class="column is-3">
      <h4 class="has-text-white"> Address </h4>
      <p>2 Church Gate,<br>
        Blackrock<br>
        Cork<br>
        Republic of Ireland
      </p>
    </section>
    <section class="column is-3">
      <h4 class="has-text-white"> Important Links </h4>
      <a href="/" class="has-text-light"> Home </a><br>
      <a href="/settings" class="has-text-light"> Settings </a>
    </section>
    <section class="column is-3">
      <h4 class="has-text-white"> Categories </h4>
      <a href="/lifestyle" class="has-text-light"> Lifestyle </a><br>
      <a href="/news" class="has-text-light"> News </a><br>
    </section>
    <section class="column is-3">
      <h4 class="has-text-white"> More </h4>
      <p> 
        Contact us at : <a href="mailto:email@example.com" class="has-text-light">info@whetherweather.com</a>, or visit us: <a href="/" class="has-text-light"> directions</a> 
      </p>
    </section>
  </div>
</footer>
<div class="underfooter column is-full has-background-grey-dark">
  <article class="content has-text-white has-text-centered">
    <img src="/images/logo.png" alt="logo" class="image is-32x32 is-inline pt-4"/> | © 2024 (Whether) Weather developed by <a href="https://www.linkedin.com/in/andrea-nardinocchi-53084056/" target="_blank" class="has-text-light">Andrea Nardinocchi</a>
  </article>
</div>