<header class="columns has-background-info-light">
    <section class="hero is-small">
      <div class="hero-body pl-6">
        <p class="title"> 
          (Whether) Weather
        </p>
        <p class="subtitle">
          The best App to forecast your weather
        </p>
      </div>
    </section> 
</header>