<nav class="navbar is-fixed-top has-background-info">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="/images/logo.png" alt="Logo" />
    </a>
    <span class="navbar-burger" data-target="navbarMenu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    </span>
  </div>
  <div id="navbarMenu" class="navbar-menu has-background-info">
    <div class="navbar-end has-background-info">
      <a href="/" class="navbar-item has-text-white">
        Home
      </a>
      <a href="/settings" class="navbar-item has-text-white">
        Settings
      </a>
      <a href="/lifestyle" class="navbar-item has-text-white">
        Lifestyle
      </a>
      <a href="/news" class="navbar-item has-text-white">
        News
      </a>
    </div>
  </div>
</nav>