<aside class="content box has-text-grey">
  <h2 class="has-text-info">Weekly Deals</h2>
  <h3>Our travel destinations</h3>
  <figure class="image">
    <img src="/images/city-destination.jpg" alt="City destination" class="is-fullwidth" />
  </figure>
  <p class="p-3">
    Here comes the next promos for Summer 2024. This time we are gravitating towards cultural tourism and destinations. Why don't you take a quick peek of what is in store for you?<br> 
    <a href="/">Read more</a>
  </p>
  <h3>Insanity Deals</h3>
  <figure class="image">
    <img src="/images/new-zealand.jpg" alt="New Zealand" class="is-fullwidth"/>
  </figure>
  <p class="p-3">
    With the new exotic destinations added to our promos, hurry up as we have new <a href="/">Insanity Deals</a> that are worth checking this week.
    Find out more about this irrepeatable deals and do not forget to give us your feedback when you are back in town ;-) !
  </p>
</aside>