

<div class="columns has-background-primary-light mt-6 py-4">
  <article class="column is-full content">
    <p class="title has-text-centered">Daily Hourly Forecasts</p>
  </article>
</div>
<main class="container mt-6 mb-6">
  <div class="columns">
    <div class="column">
      <div class="card has-background-black">
        <header class="card-header">
          <p id="cityfocus-1-heading" class="card-header-title is-size-5 is-centered has-text-white">
          </p>
        </header>
        <div class="card-image has-background-black">
          <figure class="image">
            <img id="cityfocus-1-image" alt="Sun" class="is-16by9">
          </figure>
        </div>
        <footer class="card-content has-background-black pt-6 ">
              <p class="content is-size-6 has-text-white is-pulled-left ">
                Temp<br>
                2 m
              </p>
              <p  class="content is-size-6 has-text-white is-pulled-right ">
                Appar<br>
                Temp
              </p>
        </footer>
        <footer class="card-content has-background-black pt-6 pb-6">
              <p id="cityfocus-1-min-temp" class="content is-size-6 has-text-white is-pulled-left ">
              </p>
              <p id="cityfocus-1-app-temp" class="content is-size-6 has-text-white is-pulled-right ">
              </p>
        </footer>
      </div>
      
      
    </div>
    
    <div class="column">
      <div class="card has-background-black">
        <header class="card-header">
          <p id="cityfocus-2-heading" class="card-header-title is-size-5 is-centered has-text-white">
          </p>
        </header>
        <div class="card-image has-background-black">
          <figure class="image">
            <img id="cityfocus-2-image" alt="Sun" class="is-16by9">
          </figure>
        </div>
        <footer class="card-content has-background-black pt-6 ">
              <p  class="content is-size-6 has-text-white is-pulled-left ">
                Temp<br>
                2 m
              </p>
              <p  class="content is-size-6 has-text-white is-pulled-right ">
                Appar<br>
                Temp
              </p>
        </footer>
        <footer class="card-content has-background-black pt-6 pb-6">
              <p id="cityfocus-2-min-temp" class="content is-size-6 has-text-white is-pulled-left ">
              </p>
              <p id="cityfocus-2-app-temp" class="content is-size-6 has-text-white is-pulled-right ">
              </p>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-black">
        <header class="card-header">
          <p id="cityfocus-3-heading" class="card-header-title is-size-5 is-centered has-text-white">
          </p>
        </header>
        <div class="card-image has-background-black">
          <figure class="image">
            <img id="cityfocus-3-image" alt="Sun" class="is-16by9">
          </figure>
        </div>
        <footer class="card-content has-background-black pt-6 ">
              <p  class="content is-size-6 has-text-white is-pulled-left">
                Temp<br>
                2 m
              </p>
              <p  class="content is-size-6 has-text-white is-pulled-right">
                Appar<br>
                Temp
              </p>
        </footer>
        <footer class="card-content has-background-black pt-6 pb-6">
              <p id="cityfocus-3-min-temp" class="content is-size-6 has-text-white is-pulled-left ">
              </p>
              <p id="cityfocus-3-app-temp" class="content is-size-6 has-text-white is-pulled-right ">
              </p>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-black">
        <header class="card-header">
          <p id="cityfocus-4-heading" class="card-header-title is-size-5 is-centered has-text-white">
          </p>
        </header>
        <div class="card-image has-background-black">
          <figure class="image">
            <img id="cityfocus-4-image" alt="Sun" class="is-16by9">
          </figure>
        </div>
        <footer class="card-content has-background-black pt-6 ">
              <p  class="content is-size-6 has-text-white is-pulled-left ">
                Temp<br>
                2 m
              </p>
              <p  class="content is-size-6 has-text-white is-pulled-right ">
                Appar<br>
                Temp
              </p>
        </footer>
        <footer class="card-content has-background-black pt-6 pb-6">
              <p id="cityfocus-4-min-temp" class="content is-size-6 has-text-white is-pulled-left ">
              </p>
              <p id="cityfocus-4-app-temp" class="content is-size-6 has-text-white is-pulled-right ">
              </p>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-black">
        <header class="card-header">
          <p id="cityfocus-5-heading" class="card-header-title is-size-5 is-centered has-text-white">
          </p>
        </header>
        <div class="card-image has-background-black">
          <figure class="image">
            <img id="cityfocus-5-image" alt="Sun" class="is-16by9">
          </figure>
        </div>
        <footer class="card-content has-background-black pt-6 ">
              <p  class="content is-size-6 has-text-white is-pulled-left ">
                Temp<br>
                2 m
              </p>
              <p  class="content is-size-6 has-text-white is-pulled-right ">
                Appar<br>
                Temp
              </p>
        </footer>
        <footer class="card-content has-background-black pt-6 pb-6">
              <p id="cityfocus-5-min-temp" class="content is-size-6 has-text-white is-pulled-left ">
              </p>
              <p id="cityfocus-5-app-temp" class="content is-size-6 has-text-white is-pulled-right ">
              </p>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-black">
        <header class="card-header">
          <p id="cityfocus-6-heading" class="card-header-title is-size-5 is-centered has-text-white">
          </p>
        </header>
        <div class="card-image has-background-black">
          <figure class="image">
            <img id="cityfocus-6-image" alt="Sun" class="is-16by9">
          </figure>
        </div>
        <footer class="card-content has-background-black pt-6 ">
              <p  class="content is-size-6 has-text-white is-pulled-left ">
                Temp<br>
                2 m
              </p>
              <p  class="content is-size-6 has-text-white is-pulled-right ">
                Appar<br>
                Temp
              </p>
        </footer>
        <footer class="card-content has-background-black pt-6 pb-6">
              <p id="cityfocus-6-min-temp" class="content is-size-6 has-text-white is-pulled-left ">
              </p>
              <p id="cityfocus-6-app-temp" class="content is-size-6 has-text-white is-pulled-right ">
              </p>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-black">
        <header class="card-header">
          <p id="cityfocus-7-heading" class="card-header-title is-size-5 is-centered has-text-white">
          </p>
        </header>
        <div class="card-image has-background-black">
          <figure class="image">
            <img id="cityfocus-7-image" alt="Sun" class="is-16by9">
          </figure>
        </div>
        <footer class="card-content has-background-black pt-6 ">
              <p  class="content is-size-6 has-text-white is-pulled-left ">
                Temp<br>
                2 m
              </p>
              <p  class="content is-size-6 has-text-white is-pulled-right ">
                Appar<br>
                Temp
              </p>
        </footer>
        <footer class="card-content has-background-black pt-6 pb-6">
              <p id="cityfocus-7-min-temp" class="content is-size-6 has-text-white is-pulled-left ">
              </p>
              <p id="cityfocus-7-app-temp" class="content is-size-6 has-text-white is-pulled-right ">
              </p>
        </footer>
      </div>
    </div>
    
  </div>
</main>